.assignment_wrap {
  .assignment_list {
    max-width: 34%;
    li {
      a {
        display: block;
      }
      &:not(:first-child) {
        border-top: none;
      }
      &:hover {
        background-color: $primary;
      }
    }
    .title, .name {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-right: 25px;
    }
    .author, .title, .name, .apply-time {
      white-space: nowrap;
    }
  }
  .assignment_detail {
    width: 63%;
    height: 549px;
    .assignment_item {
      &:not(:first-child) {
        border-top: none !important;
      }
    }
    .comments {
      border-top: none;
      overflow-y: auto;
      max-height: 481px;
      .comment:not(:last-child){
        padding-bottom: 0 !important;
        .comment_right {
          border-bottom: 1px solid $primary-deep;
        }
      }
      .list-item {
        text-indent: 1rem;
      }
    }
  }
}

.assignment_footer {
  position: relative;
  .content {
    width: 63%;
  }
  .function-btns {
    .mark:hover {
      background-color: $secondary !important;
      color: white !important;
    }
    .reply:hover {
      background-color: #fff !important;
      color: $secondary !important;
      border: 1px solid $secondary;
    }
  }
}