.section-left {
  flex-basis: 296px;
  flex-shrink: 0;
}
.user {
  max-height: 141px;
}
.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.menu-item {
  a:hover {
    color: $secondary;
  }
}

.active {
  border-left: 4px solid $secondary;
  padding-left: 28px;
  a {
    color: $secondary;
  }
}