<div class="d-flex align-items-center pb-7">
  <h1 class="font-size-xl font-weight-bold mr-46"><%- projectName %></h1>
  <div class="dropdown mr-auto">
    <button class="btn btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      All Courses
    </button>
  </div>
  <div class="right-func d-flex align-items-center">
    <a class="d-block" href="#">
      <i class="material-icons">search</i>
      <!-- <img src="../assets/icon/search-24px.svg" alt="search"> -->
    </a>
    <a class="d-block ml-26" href="#">
      <i class="material-icons">notifications_active</i>
      <!-- <img src="../assets/icon/notifications_active-24px.svg" alt="notifications"> -->
    </a>
  </div>
</div>