<div class="header d-flex align-items-center pb-32">
  <h2 class="fz-24 fw-b mr-46"><%- projectName %></h2>
  <div class="dropdown mr-auto">
    <button class="btn btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      All Courses
    </button>
  </div>
  <div class="right-func d-flex align-items-center">
    <a class="d-block" href="#"><img src="../assets/icon/search-24px.svg" alt="search"></a>
    <a class="d-block ml-26" href="#"><img src="../assets/icon/notifications_active-24px.svg" alt="notifications"></a>
  </div>
</div>