.c-white {
  color: #fff;
}

.c-b-60 { 
  color: #0000009a;
}

.c-primary {
  color: $primary;
}

.c-secondary {
  color: $secondary;
}

.c-deep-gray {
  color: #121212;
}

.bgc-primary {
  background-color: $primary;
}

.bgc-secondary {
  background-color: $secondary;
}