.font-size-base { 
  font-size: $font-size-base;
}

.font-size-lg { 
  font-size: $font-size-lg;
}

.font-size-xl { 
  font-size: $font-size-xl;
}

.font-size-xs { 
  font-size: $font-size-xs;
}

.font-size-sm { 
  font-size: $font-size-sm;
}