.pl-32 {
  padding-left: 32px;
}

.pt-32 {
  padding-top: 32px;
}

.pb-32 {
  padding-bottom: 32px;
}

.px-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.p-32 {
  padding: 32px;
}

.pl-16 {
  padding-left: 16px;
}

.pt-16 {
  padding-top: 16px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-46 {
  margin-right: 46px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.ml-26 {
  margin-left: 26px;
}

